@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden;  */
  background-color: #f9fafb;
}
body {
  @apply bg-surface text-gray-900 font-body;
}

body::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

.hero-gradient {
  background: linear-gradient(135deg, #007BFF 0%, #00C4CC 100%);
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }

  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;;
  }
}